doctype html
html
  head
    title Bhogdu Ram Dance Academy
    block scripts
    block style
  body
    block content
    block foot 
        footer#footerarea 
            h5 Copyright©2021BhogduRamDanceAcademy.com| All rights reserved  

      