*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    flex-direction: row;
    background-color: red;
}
li{
    list-style: none;
    padding: 4px;
}
a{
    text-decoration: none;
    list-style: none;
    padding-left: 25px;
    color: white;
    font-family: 'Otomanopee One', sans-serif;
}
.introsection{
    
    height: 400px;
    position: relative;
    background-color: black;
}
.intro{
    padding-top: 50px;
}
.introsection div{
    color:white;
    display: flex;
    flex-direction: column;
    opacity: 1;
    font-family: 'Zen Tokyo Zoo', cursive;
    align-items: center;
    font-size: 40px;
    position: relative;
}
.introsection::before{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: '';
    background: center/cover no-repeat url("https://images.unsplash.com/photo-1598475052128-d33e84d00787?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=858&q=80") ;
    opacity: 0.5;
}
#sponsorsection{
    height: 160px;
    border: 1px solid black;
}
#footerarea{
    height: 30px;
    border: 1px solid black;
    text-align: center;
    background-color: black;
    color: white;
}
h2,h3{
    text-align: center;
    text-decoration: underline;
    font-family: 'Otomanopee One', sans-serif;
}
.mission{
    background-color: rgb(248, 153, 124)
}
.slides{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.slide1,.slide2,.slide3{
    border: 1px solid black;
    margin: 15px;
    align-items: center;
    width: 350px;
    background-color: white;
}
.slide1-img img,.slide2-img img,.slide3-img img{
    height: 150px;
    
}
.cardbox1,.cardbox2,.cardbox3{
    display: flex;
    flex-direction: row;
    align-items: center;
}
p{
    font-size: 20px;
    padding-left: 12px;
    font-weight: bold;
}
.sponsors{
    display: flex;
    justify-content: center;
}
.sponsors img{
    height: 100px;
    padding:15px ;
}